.vs
Modetour/obj
src/Modetour.B2C.PackageService/Program.cs
src/Modetour.B2C.PackageService/obj/Debug/net6.0/Modetour.B2C.PackageService.csproj.FileListAbsolute.txt
src/Package/Modetour.B2C.PackageService/Program.cs
src/bin
src/Content/Modetour.B2C.Commons/bin
src/Content/Modetour.B2C.Commons/obj
src/Content/Modetour.B2C.ContentService/bin
src/Content/Modetour.B2C.Entity.Content/obj
src/Content/ModetourB2C/bin
src/Flight/Modetour.B2C.Commons/bin
src/Flight/Modetour.B2C.Entity.Flight/bin
src/Flight/Modetour.B2C.FlightService/bin
src/Flight/ModetourB2C/bin
src/Hotel/Modetour.B2C.Commons/bin
src/Hotel/Modetour.B2C.Entity.Hotel/bin
src/Hotel/Modetour.B2C.HotelService/bin
src/Hotel/Modetour.B2C.HotelService/obj
src/Hotel/ModetourB2C/bin
src/LocalTour/Modetour.B2C.Commons/bin
src/LocalTour/Modetour.B2C.Entity.LocalTour/bin
src/LocalTour/Modetour.B2C.LocalTourService/bin
src/LocalTour/ModetourB2C/bin
src/Modetour.B2C.ApiGateway/bin
src/obj
src/User/ModetourB2C/obj
src/User/ModetourB2C/bin
src/User/Modetour.B2C.UserService/obj
src/User/Modetour.B2C.UserService/bin
src/User/Modetour.B2C.Entity.User/bin
src/User/Modetour.B2C.Entity.User/obj
src/User/Modetour.B2C.Commons/obj
src/User/Modetour.B2C.Commons/bin
src/Package/ModetourB2C/obj
src/Content/Modetour.B2C.ContentService/obj
src/Content/Modetour.B2C.Entity.Content/bin
src/Content/ModetourB2C/obj
src/Flight/Modetour.B2C.Commons/obj
src/Flight/Modetour.B2C.Entity.Flight/obj
src/Flight/Modetour.B2C.FlightService/obj
src/Flight/ModetourB2C/obj
src/Hotel/Modetour.B2C.Commons/obj
src/Hotel/Modetour.B2C.Entity.Hotel/obj
src/Hotel/ModetourB2C/obj
src/LocalTour/Modetour.B2C.Commons/obj
src/LocalTour/Modetour.B2C.Entity.LocalTour/obj
src/LocalTour/Modetour.B2C.LocalTourService/obj
src/LocalTour/ModetourB2C/obj
src/Modetour.B2C.ApiGateway/obj
src/Package/Modetour.B2C.Commons/bin
src/Package/Modetour.B2C.Entity.Package/bin
src/Package/Modetour.B2C.PackageService/bin
src/Package/ModetourB2C/bin
src/Package/Modetour.B2C.PackageService/obj
src/Package/Modetour.B2C.Commons/obj
src/Package/Modetour.B2C.Entity.Package/obj
src/Package/Modetour.B2C.Entity.Package/.vs
src/User/Modetour.B2C.Entity.User/Properties/launchSettings.json
*.cache
Modetour/obj/Debug/net6.0/Modetour.assets.cache
Modetour/obj/Debug/net6.0/Modetour.assets.cache
Modetour/obj/Debug/net6.0/Modetour.csproj.AssemblyReference.cache
Modetour/obj/Debug/net6.0/Modetour.GeneratedMSBuildEditorConfig.editorconfig
.vscode/tasks.json
