################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarBooking/.vs/ProjectEvaluation
/CarBooking/.vs/CarBooking/FileContentIndex
